<nav class="navbar">
    <button class="btn btn-success" ng-click="game.newGame()">New Game</button> <!-- navigation bar -->
    <div class="game-info">
        <p class="score"><span class="red"> {{ nWinsPlayer1 }}</span> : <span class="yellow">{{ nWinsPlayer2 }}</span></p>
        <p class="message" ng-show="winner">Player {{ winner }} wins!</p>
    </div>
</nav>

<div class="board">
    <div class="column" ng-repeat="column in game.board track by $index" ng-click="game.dropToken($index)">
        <div ng-repeat="token in column track by $index" ng-style="game.setDiscColor(token)" class="disc"></div>
    </div>
</div>
