
<div id="board">

    <table>
        <tr>
            <td class="btn btn-default" ng-click="game.select(0, 0)"></td>
            <td class="btn btn-default" ng-click="game.select(1, 0)"></td>
            <td class="btn btn-default" ng-click="game.select(2, 0)"></td>
            <td class="btn btn-default" ng-click="game.select(3, 0)"></td>
            <td class="btn btn-default" ng-click="game.select(4, 0)"></td>
        </tr>
        <tr>
            <td class="btn btn-default" ng-click="game.select(0, 1)"></td>
            <td class="btn btn-default" ng-click="game.select(1, 1)"></td>
            <td class="btn btn-default" ng-click="game.select(2, 1)"></td>
            <td class="btn btn-default" ng-click="game.select(3, 1)"></td>
            <td class="btn btn-default" ng-click="game.select(4, 1)"></td>
        </tr>
        <tr>
            <td class="btn btn-default" ng-click="game.select(0, 2)"></td>
            <td class="btn btn-default" ng-click="game.select(1, 2)"></td>
            <td class="btn btn-default" ng-click="game.select(2, 2)"></td>
            <td class="btn btn-default" ng-click="game.select(3, 2)"></td>
            <td class="btn btn-default" ng-click="game.select(4, 2)"></td>
        </tr>
        <tr>
            <td class="btn btn-default" ng-click="game.select(0, 3)"></td>
            <td class="btn btn-default" ng-click="game.select(1, 3)"></td>
            <td class="btn btn-default" ng-click="game.select(2, 3)"></td>
            <td class="btn btn-default" ng-click="game.select(3, 3)"></td>
            <td class="btn btn-default" ng-click="game.select(4, 3)"></td>
        </tr>
        <tr>
            <td class="btn btn-default" ng-click="game.select(0, 4)"></td>
            <td class="btn btn-default" ng-click="game.select(1, 4)"></td>
            <td class="btn btn-default" ng-click="game.select(2, 4)"></td>
            <td class="btn btn-default" ng-click="game.select(3, 4)"></td>
            <td class="btn btn-default" ng-click="game.select(4, 4)"></td>
        </tr>
    </table>

</div>
